/* Eregansu: Dark colour scheme */

body.dark a:link, body.dark a:visited {
	color: #5782b7;
}
body.dark #surround {
	background-color: #262626;
	color: #cdcdcd;
}
body.dark #content h1 {
	color: #fff;
}
body.dark #content h2 {
	color: #fff;
	border-bottom: solid #373737 1px;
}
body.dark #content h2 a:link, body.dark #content h2 a:visited {
	color: #fff;
}
body.dark #sidebar {
	border-right: solid #000 1px;
	background: #151515;	
}
body.dark #sidebar dl.source-list {
	background-color: #151515;
}
body.dark #sidebar dl.source-list > dt {
	color: #464646;
	text-shadow: 1px 1px #000;
}
body.dark #sidebar dl.source-list > dd {
	color: #d4d4d4;
	border-top: solid #151515 1px;
}
body.dark #sidebar dl.source-list > dd.active {
	background-color: #18222f;
}
body.dark #sidebar ul.menu > li > a:link, body.dark #sidebar ul.menu > li > a:visited {
	color: #aaa;
}
body.dark #sidebar ul.menu > li {
	border-top: solid #373737 1px;
	border-left: solid #373737 1px;	
	border-bottom: solid #000 1px;
	border-right: solid #000 1px;
	background-color: #2d2d2d;
	-webkit-border-radius: 2px 2px;	
}
body.dark #sidebar ul.menu > li.active {
	background-color: #18222f;
}
body.dark #sidebar ul.menu > li.active > a:link, body.dark #sidebar ul.menu > li.active > a:visited {
	color: #dcdcdc;
}
body.dark #navigation {
	border-top: solid #373737 1px;
	border-bottom: solid #0f0f0f 1px;
	background: #222;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2d2d2d), to(#202020));
}
body.dark #crumb p.trail {
	background: #151515;
	border-top: solid #000 1px;
	color: #666;
}
body.dark #crumb p.trail a {
	color: #d4d4d4;
}
body.dark table {
	border: solid #000 1px;
	background-color: #1f1f1f;
}
body.dark table > thead, body.dark table > tfoot {
	background-color: #373737;
}
body.dark table > thead > tr > th {
	color: #fff;
}
body.dark table.item-list > tbody > tr:hover {
	background-color: #2d2d2d;
}
body.dark table > thead a:link, body.dark table > thead a:visited, body.dark table > tfoot a:link, body.dark table > tfoot a:visited {
	color: #d8dadc;
	text-decoration: none;
}

body.dark div.tabs > ul {
	background-color: #151515;
	background-image: -webkit-gradient(linear, 0 70%, 0 100%, from(#151515), to(#000));
}
body.dark div.tabs > ul > li > a {
	color: #e4e5e6 !important;
	text-shadow: 1px 1px #000;
	background: #18222f;	
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.75);
}
body.dark div.tabs > ul > li.active > a {
	background: #262626;
}
body.dark div.tabs > div {
	background: #262626;
}
