/* Eregansu: Dark colour scheme */

a:link, a:visited {
	color: #5782b7;
}
#surround {
	background-color: #262626;
	color: #cdcdcd;
}
#content h1 {
	color: #fff;
}
#content h2 {
	color: #fff;
	border-bottom: solid #373737 1px;
}
#content h2 a:link, #content h2 a:visited {
	color: #fff;
}
#sidebar {
	border-right: solid #000 1px;
	background: #151515;	
}
#sidebar dl.source-list {
	background-color: #151515;
}
#sidebar dl.source-list > dt {
	color: #464646;
	text-shadow: 1px 1px #000;
}
#sidebar dl.source-list > dd {
	color: #d4d4d4;
	border-top: solid #151515 1px;
}
#sidebar dl.source-list > dd.active {
	background-color: #18222f;
}
#sidebar ul.menu > li > a:link, #sidebar ul.menu > li > a:visited {
	color: #aaa;
}
#sidebar ul.menu > li {
	border-top: solid #373737 1px;
	border-left: solid #373737 1px;	
	border-bottom: solid #000 1px;
	border-right: solid #000 1px;
	background-color: #2d2d2d;
	-webkit-border-radius: 2px 2px;	
}
#sidebar ul.menu > li.active {
	background-color: #18222f;
}
#sidebar ul.menu > li.active > a:link, #sidebar ul.menu > li.active > a:visited {
	color: #dcdcdc;
}
#navigation {
	border-top: solid #373737 1px;
	border-bottom: solid #0f0f0f 1px;
	background: #222;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2d2d2d), to(#202020));
}
#crumb p.trail {
	background: #151515;
	border-top: solid #000 1px;
	color: #666;
}
#crumb p.trail a {
	color: #d4d4d4;
}
table {
	border: solid #000 1px;
	background-color: #1f1f1f;
}
table > thead, table > tfoot {
	background-color: #373737;
}
table > thead > tr > th {
	color: #fff;
}
/* table.item-list > tbody > tr:hover {
	background-color: #2d2d2d;
} */
div.item-list > table > tbody > tr.even {
	background: #151515;
}
table > thead a:link, table > thead a:visited, table > tfoot a:link, table > tfoot a:visited {
	color: #d8dadc;
	text-decoration: none;
}

div.tabs > ul {
	background-color: #151515;
	background-image: -webkit-gradient(linear, 0 70%, 0 100%, from(#151515), to(#000));
}
body.crumb fieldset.actions {
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000000), color-stop(20%,#151515), color-stop(90%,#151515),to(#101010));
}
div.tabs > ul > li > a {
	color: #e4e5e6 !important;
	text-shadow: 1px 1px #000;
	background: #18222f;	
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.75);
}
div.tabs > ul > li.active > a {
	background: #262626;
}
div.tabs > div {
	background: #262626;
}
